@charset "utf 8";

*{
    margin:0px;
    padding:0px;  
}

ul{
    display: inline;
    padding:10px;

}

li{
display:inline;
background-color:lightgray;
padding:10px;
width: 100px;
}

a{
   text-decoration: none;
}

a:hover{
    background-image:url(imagens/Sprite_g\ \(1\).jpg);  
}